.post {
    position: relative;
    width: 40%;
    height: 15%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 70%;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 10px;
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 15px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.allPostsContainer {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin :0 auto;

}

.partial-display{
    display: none;
}
.icon-display{
    float:right;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.icon-display:hover{
    cursor: pointer;
}

i{
    float: right;
    margin: 10px;
}

i:hover{
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.Delete-blog-modal-content {
    background-color: #fefefe;
    position: relative;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0 10px 10px 10px;
    border: 1px solid #888;
    top: 25%;
    width: 30%;
    height: 20%;/* Could be more or less, depending on screen size */
}

.text-dialog-delete-modal{

    text-align: center;
}

h3{
    padding-top: 15px;
    font-family: Abel,sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: black;
}


#Delete-type-yes {
    width: 140px;
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: medium;
    font-family: Abel, sans-serif;
    float: left;
    margin-left: 20px;
    opacity: 0.8;
}

#Delete-type-yes:hover{
    cursor: pointer;
}

#Delete-type-no{
    width: 140px;
    background-color: red;
    color: white;
    padding: 7px;
    font-size: medium;
    font-family: Abel, sans-serif;
    float: right;
    margin-right: 20px;
    opacity: 0.8;
}

#Delete-type-no:hover{
    cursor: pointer;
}