/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

#header {
    font-family: 'Satisfy', 'cursive';
    font-style: normal;
    font-weight: 400;
    color: blue;
    font-size: 30px;
}

#subheader {
    font-family: 'Satisfy', 'cursive';
    font-style: normal;
    font-size: 10px;
}

#sign {
    float: right;
}

.signButton {
    margin-right: 5px;
    margin-left: 5px;
    padding: 8px;
    background-color: blue;
    color: white;

}





