/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

/* Adding Style for the Sign Up and Sign In buttons */

.header_Buttons {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background: #0000ff;
    color: #fff;
    float: right;
    margin: 10px 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}








