body{
    height:700px;

}
.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
margin:3%;
}
#blogEdit{
    float: right;
    background-color: red;
    color:white;
}
.margin{
    margin-bottom: 1.5%;
}
.padding{
    padding:0.5%;
}
.likeButton{
    background-color: red;
    color:white;


}
#comments{
    width: 50%;
    height: 100px;

}
#commentSection{
    background-color: white;
    overflow: auto;
    padding:1%;
    border:lightgrey;
    text-align: left;
    width:50%;
}
#newComment{
    background-color: white;
    height: 35px;
    width:100%;
 text-align: left;

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
